@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: #d9afd9;
  background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.clock{
    min-width: 543px;
    display: flex;
    border: 2px solid white;
    font-size: 45px;
    padding: 10px;
    margin: 10px 5px;
}
h1 , span {
    color: white;
}
p{
    display: flex;
    align-items: end;
    justify-content: end;
    margin-bottom: 10px;
    margin-left: 5px;
    color: white;
}

@media(min-width:320px) {
  * {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
  }

 body{
  background-color: #d9afd9;
  background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
  margin: 20px 0;
}
  .clock{
      min-width: 362px;
      display: flex;
      border: 2px solid white;
      font-size: 30px;
      padding: 10px;
      margin-left: 5px;
      margin-right: 5px;
  }
  
}
